%footer.footer
  .container
    .row
      .col-lg-12
        %div{class: ('footer-content' unless request.path == '/' )}
          .pull-right
            %p hello@kek.org.in
          %p (C) 2015 kek.org.in
